.signup-Handler{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 7em;
}

.signup-form{
	display: flex;
	flex-direction: column;
	width: 40em;
}
.signup-form div {
	margin-bottom: 0.50em;
}